html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.wrapper {
    widows: 100%;
    overflow: hidden;
}

.container {
  /* padding-right: 15px; */
  /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.cardLineLeft {
    display: inline-block;
    width: 50%;
    margin-left: 0%;
    border-bottom: 1px solid lighten($secondary,30%);
}

.width-25 {
    width: 25%;
}

.img{
    width: 100%;
}

.shadow {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,.3);
}

.map {
    margin-top: 50px;
}

.margin_col {
        margin-bottom: 30px;
    }

.margin_col:nth-child(1){
    margin-top: -50px;
}

.padding_section{
    padding-top: 60px;
    padding-bottom:60px;
}

.padding_top_small {
    padding-top: 10px;
}

@media (min-width: 768px) {

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 32px;
        padding-left: 32px;
      }

}

@media (min-width: 992px) {

    .margin_col:nth-child(1){
        margin-top: -70px;
    }

    .margin_col {
        margin-top: -70px;
        margin-bottom: 0px;
    }

}

@media (min-width: 1200px) {

    .margin_col:nth-child(1){
        margin-top: -100px;
    }

    .margin_col {
        margin-top: -100px;
    }

}

@media (min-width: 1500px) {
    .container {
        min-width: 1436px;
        padding-right: 32px;
        padding-left: 32px;
    }


}





