// Variables

// Brand colors
$primary:         #108880; // Fangar green
$secondary:       #524f4c; // Fangar brown
$third:		      #7b4e2d; // Fangar Text Brown

$ligthenbrown:    #9e9e9e;  // Fangar brown claro

$body-bg:         #f9f8f5; // Fangar Vainilla

$white:           #ffffff;

